@font-face {
  font-family: 'american typewriter';
  src: url(./assets/fonts/AmericanTypewriterStd-Med.otf) format('otf');
}

@font-face {
  font-family: 'roboto';
  src: url(./assets/fonts/Roboto-Medium.ttf) format('ttf');
}

:root {
  --color-white: #f2f2f2;
  --color-plain-white: #fff;
  --color-black: #2e2e2e;
  --color-beige: #d3c1ae;
  --color-purple-high: #8a4f7c;
  --color-purple-mid: #AC6E9D;
  --color-purple-low: #ae719f88;
  --color-green: #8cc63f;
  --color-brown: #6a492c;
  --color-fucsia: #c53681;
}

/* -----CSS RESET----- */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.4;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* -----CSS RESET----- */

/* -----MOBILE SIDEBAR TRANSITION----- */

*,
*:after,
*::before {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
.st-container,
.st-pusher,
.st-content {
  height: 100%;
}

header {
  background-color: var(--color-plain-white);
  z-index: 999;
  padding: 16px 0;
  display: flex;
  align-items: center;
  margin: 0 16px;
  gap: 30px;
}

header img {
  width: 25%;
  max-width: 100px;
}


.container-toggle {
  border: 0;
  position: relative;
}

.container-toggle input {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 10;
  display: block;
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
}

.container-toggle label {
  text-indent: -9999px;
  display: block;
}

.container-toggle label span {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.25rem;
  display: block;
  height: 0.25rem;
  width: 2rem;
  background-color: black;
}

.hero-img1 {
  width: 100%;
}

.hero-img2 {
  display: none;
  visibility: hidden;
}

.hero-img3 {
  display: none;
  visibility: hidden;
}

main {
  color: var(--color-brown);
  font-family: 'roboto';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.primavera {
  background-color: var(--color-plain-white);
  width: 91%;
  max-width: 1280px;
  padding: 24px 16px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  transform: translateY(-40px);
  margin-bottom: 60px;
}

.primavera h1 {
  font-size: 2rem;
  font-family: 'american typewriter';
}

.primavera p {
  font-size: 1.125rem;
}

.btn-primavera {
  width: 100%;
  height: 42px;
  padding: 8px 40px;
  color: var(--color-brown);
  background-color: var(--color-plain-white);
  border-radius: 4px;
  border: 1.8px solid;
  font-size: 1rem;
  font-weight: 700;
}

.pizzas {
  width: 85%;
  display: flex;
  flex-direction: column;
  margin-bottom: 120px;
}

.pizzas-text {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  gap: 20px;
}

.pizzas-text h2 {
  font-size: 2rem;
  font-family: 'american typewriter';
}

.bebidas {
  width: 85%;
  display: flex;
  flex-direction: column;
  margin-bottom: 120px;
}

.bebidas-text {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  gap: 20px;
}

.bebidas-text h2 {
  font-size: 2rem;
  font-family: 'american typewriter';
}

.nuestra-carta {
  margin-bottom: 120px;
}

.nuestra-carta h2 {
  font-size: 2rem;
  font-family: 'american typewriter';
  padding-bottom: 40px;
  text-align: center;
}

.tarjetas {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 0.75rem;
  width: 91%;
  margin: 0 auto;
}

.tarjeta {
  background-color: var(--color-plain-white);
  border: 1px solid var(--color-beige);
}

.tarjeta figcaption {
  font-size: 1.25rem;
  font-weight: 700;
  padding: 16px 16px 42px;
}

.swiper {
  background-image: radial-gradient(circle, var(--color-purple-low), var(--color-purple-high));
  margin-bottom: 120px;
  width: 100%;
}

.swiper img {
  margin: 0 auto;
}

.footer {
  font-family: 'roboto';
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  border-top: 1px solid hwb(0 0% 100% / 0.10);
  padding-top: 40px;
}

.footer h3 {
  color: var(--color-black);
}

.redes-icons {
  display: flex;
  justify-content: center;
  gap: 80px;
  padding-top: 20px;
}

.footer ul {
  list-style: none;
  margin-bottom: 32px;
}

.footer ul li {
  padding-bottom: 8px;
}

.bar {
  background-color: var(--color-brown);
  width: 100%;
  height: 50px;
}

@media (min-width: 640px) {
  .hero-img1 {
    display: none;
    visibility: hidden;
  }

  .hero-img2 {
    display: block;
    visibility: visible;
  }

  .btn-primavera {
    width: 166px;
  }

  .primavera {
    width: 95%;
  }

  .pizzas {
    width: 95%;
  }

  .pizzas-inner {
    display: flex;
    flex-direction: row-reverse;
    gap: 32px;
    margin: 0 auto;
  }

  .pizzas-inner img {
    width: 290px;
  }

  .pizzas-text {
    width: 290px;
  }

  .bebidas {
    width: 95%;
  }

  .bebidas-inner {
    display: flex;
    gap: 32px;
    margin: 0 auto;
  }

  .bebidas-inner img {
    width: 290px;
  }

  .bebidas-text {
    width: 290px;
  }

  .tarjetas {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    width: 95%;
  }
}

@media (min-width: 768px) {

  .nav-bar {
    margin: 0 32px;
    gap: 52px;
  }

  .hero-img2 {
    display: none;
    visibility: hidden;
  }

  .hero-img3 {
    display: block;
    visibility: visible;
  }

  .primavera {
    padding: 40px 16px 0;
    width: 92%;
    transform: translateY(-45px);
    margin-bottom: 80px;
  }

  .primavera h1 {
    font-size: 3rem;
  }

  .pizzas {
    width: 97%;
    margin-bottom: 140px;
  }

  .pizzas-inner img {
    width: 352px;
  }

  .pizzas-text {
    width: 352px;
  }

  .pizzas-text h2 {
    font-size: 2.5rem;
  }

  .bebidas {
    width: 97%;
    margin-bottom: 140px;
  }

  .bebidas-inner img {
    width: 352px;
  }

  .bebidas-text {
    width: 352px;
  }

  .bebidas-text h2 {
    font-size: 2.5rem;
  }

  .nuestra-carta {
    margin-bottom: 140px;
  }

  .nuestra-carta h2 {
    font-size: 2.5rem;
  }

  .tarjetas {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1rem;
    width: 96%;
  }

  .swiper {
    margin-bottom: 140px;
  }

  .footer {
    flex-direction: row;
    justify-content: center;
    gap: 160px;
  }
}

@media (min-width: 1024px) {
  header {
    padding: 14px 0;
  }

  .primavera {
    width: 88%;
    transform: translateY(-70px);
  }

  .pizzas {
    margin-bottom: 200px;
  }

  .pizzas-inner {
    gap: 70px;
  }

  .pizzas-inner img {
    width: 384px;
  }

  .pizzas-text {
    width: 384px;
  }

  .bebidas {
    margin-bottom: 170px;
  }

  .bebidas-inner {
    gap: 70px;
  }

  .bebidas-inner img {
    width: 384px;
  }

  .bebidas-text {
    width: 384px;
  }

  .nuestra-carta {
    margin-bottom: 170px;
  }

  .swiper {
    margin-bottom: 170px;
  }
}